{% extends "layout_account.html" %}

{% block page %}
    <div class="container subheader">
        <div class="row">
            <div class="twelve columns">
                <h2>Bookings</h2>
            </div>
        </div>
        <div class="row">
            <div class="eight columns">
                {% for b in g.user.active_bookings() %}
                    <div class="bordered">
                        <h3>
                            <a href="{{ url_for('show_course', course_id=b.get_course().identifier) }}">{{ b.get_course().name }}</a>
                        </h3>
                        <p class="actions u-cf u-full-width">
                            <span class="u-pull-left">
                                <strong>Booking id: </strong><span class="identifier">{{ b.identifier }}</span>
                            </span>
                            <a href="{{ url_for('booking_cancel', reference=b.identifier) }}" class="cancel u-pull-right">Cancel</a>
                        </p>
                        {% for a in b.active_attendances() %}
                            <h4>
                                <strong>{{ a.workshop.name }}</strong>
                            </h4>
                            <p class="u-full-width">
                                <span class="lighter u-pull-left">
                                    {{ moment(a.workshop.start).format('dddd Do MMMM') }}
                                </span>
                                <a href="{{ url_for('attendance_cancel', a_id=a.id) }}" class="u-pull-right cancel">Cancel attendance</a>
                                <span class="lighter u-cf u-pull-left">
                                    {{ moment(a.workshop.start).format('LT') }} - {{ moment(a.workshop.end).format('LT') }}
                                </span>
                                <span class="u-pull-right">
                                    Quantity: {{ a.quantity }}
                                </span>
                            </p>
                            <div class="u-cf"></div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No bookings to display.</p>
                {% endfor %}
            </div>
            <div class="four columns u-pull-right">
            </div>
        </div>
    </div>
{% endblock %}
