{% extends "layout_account.html" %}

{% block page %}
    <div class="container content">
        <div class="row form-section">
            <div class="twelve columns">
                <h2>Change password</h2>
            </div>
        </div>
        <div class="row">
            <div class="four columns">
                {% from "forms/_formhelpers.html" import render_field %}
                <form action="{{ url_for('change_password') }}" method="POST" name="change_password">
                    {{ form.hidden_tag() }}
                    {{ render_field(form.password, required="", class="u-full-width") }}
                    {{ render_field(form.newpassword, placeholder="at least 8 characters", required="", minlength=8, class="u-full-width") }}
                    {{ render_field(form.confirm, required="", class="u-full-width") }}
                    <input type="submit" value="Save" class="u-pull-right button-primary">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
