{% extends "layout_account.html" %}

{% block page %}
    <div class="container subheader">
        <div class="row form-section">
            <div class="twelve columns">
                <h2>My courses</h2>
            </div>
        </div>
        <div class="row">
            <div class="eight columns">
                <ul class="chunky">
                {% for course in courses|sort(attribute='id', reverse=True) %}
                    <li>
                        <h3>{{ course.name }}</h3>
                        <p class="actions">
                            <span class="lighter u-pull-left">
                                {{ moment(course.start).format('ll') }} -
                                {{ moment(course.end).format('ll') }}
                            </span>
                            <a href="{{ url_for('show_course', course_id=course.identifier) }}" class="u-pull-right">View</a>
                            <a href="{{ url_for('manage_course', course_id=course.identifier) }}" class="u-pull-right">Manage</a>
                            <a href="{{ url_for('course_details', course_id=course.identifier) }}" class="u-pull-right">Settings</a>
                            <a href="{{ url_for('course', course_id=course.identifier) }}" class="u-pull-right">Edit</a>
                            <span class="u-cf u-pull-left">{{ course.taken() }} of {{ course.places() }} seats booked.</span>
                        </p>
                        <div class="u-cf"></div>
                    </li>
                {% else %}
                    <p>No courses to display.</p>
                {% endfor %}
                </ul>
            </div>
            <div class="four columns u-pull-right">
                <a href="{{ url_for('course') }}" class="button button-primary">Create a new course</a>
            </div>
        </div>
    </div>
{% endblock %}
