{% extends "account/your_account.html" %}

{% block page %}
    <div class="row">
        <div class="twelve columns">
            <h2>Stored Shipping Addresses</h2>
            {% if not address_id and addresses %}
                <ul class="address">
                {% for address in addresses %}
                    <li>
                        <ul class="address_options u-pull-right">
                            <li><a href="{{ url_for('shipping_addresses', address_id=address.id) }}">Edit</a></li>
                            <li><a href="{{ url_for('shipping_address_delete', address_id=address.id) }}">Delete</a></li>
                        </ul>
                        <span class="address_line">{{ address.name }}</span>
                        <span class="address_line">{{ address.address }}, {{ address.line2 }}</span>
                        <span class="address_line">{{ address.city }}, {{ address.region }} {{ address.postcode }} {{ address.country }}</span>
                    </li>
                {% endfor %}
                </ul>
                <a href="{{ url_for('shipping_addresses', new='new') }}" class="button">Add another address</a>
            {% else %}
                {% from "forms/_formhelpers.html" import render_field %}
                <form action="{{ url_for('shipping_addresses', address_id=address_id) }}" method="POST" name="shipping_addresses">
                    {{ form.hidden_tag() }}
                    {{ render_field(form.country) }}
                    {{ render_field(form.name) }}
                    {{ render_field(form.address) }}
                    {{ render_field(form.line2) }}
                    {{ render_field(form.city) }}
                    {{ render_field(form.region) }}
                    {{ render_field(form.postcode) }}
                    {{ render_field(form.is_primary) }}
                    <br />
                    <input type="submit" value="Save">
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
