{% macro render_field(field) %}

    {% if field.type == "HiddenField" %}
        {{ field(**kwargs)|safe }}
    {% elif field.type == "BooleanField" %}
        {{ field(**kwargs)|safe }}
        {{ field.label }}{{ '<span class="required"> *</span>'|safe if field.flags.required }}
    {% else %}
        {{ field.label }}{{ '<span class="required"> *</span>'|safe if field.flags.required }}
        {{ field(**kwargs)|safe }}
    {% endif %}

    {% if field.errors %}
        <ul class="errors">
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

{% endmacro %}
