{% from "forms/_formhelpers.html" import render_field %}
{% extends "layout.html" %}

{% block content %}
    <div class="container content">
        <div class="row">
            <div class="eight columns">

                <div class="highlight green">
                    <h2>Hi {{ booking.user.name }}, you're attending<br />{{ course.name }}!</h2>
                    <p>
                        Your booking id is
                        <br />
                        {{ booking.identifier }}
                    </p>
                </div>
                <p>We've sent an email to {{ booking.user.email }} to confirm your booking.  If you don't receive it shortly, <a href="{{ url_for('booking_confirmation_resend', reference=booking.identifier) }}">click here to resend</a>.</p>
                <p>You can view or make changes to your bookings at any time in <a href="{{ url_for('your_account') }}">your account</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
