{% from "forms/_formhelpers.html" import render_field %}
{% extends "layout_course.html" %}

{% block page %}
    <div class="container content">
        <div class="row form-section">
            <div class="twelve columns">
                <h2>Optional settings</h2>
            </div>
        </div>
        {% set course_id = course.identifier or None %}

        <form action="{{ url_for('course_details', course_id=course_id) }}"
              method="POST"
              enctype="multipart/form-data"
              name="course-details">
            {{ form.hidden_tag() }}
            <div class="row form-section">
                <div class="four columns">
                    <h3>Add a course image</h3>
                    <p class="subtext">
                        This will be displayed at the top of the course registration page.
                    </p>
                </div>
                <div class="four columns">
                    {{ render_field(form.image, class="u-full-width") }}
                </div>
                <div class="four columns">
                    {% if course.image != none %}
                        {{ course.image|cloudinary(height=122, width=294)|safe }}
                    {% endif %}
                </div>
            </div>
            <div class="row form-section">
                <div class="four columns">
                    <h3>Booking open and close times</h3>
                    <p class="subtext">Set the dates and times between which 
                       the course is available for booking.&nbsp;&nbsp;By 
                       default a course can be booked any time after creation.
                    </p>
                </div>
                <div class="eight columns">
                    <div class="row">
                        <div class="twelve columns">
                            <p>Booking open</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="four columns">
                            {{ render_field(form.booking_open.date,
                                            class="date-picker u-full-width",
                                            maxlength="10",
                                            placeholder="DD/MM/YYYY") }}
                        </div>
                        <div class="four columns">
                            {{ render_field(form.booking_open.time, class="u-full-width") }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <p>Booking close</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="four columns">
                            {{ render_field(form.booking_close.date,
                                            class="date-picker u-full-width",
                                            maxlength="10",
                                            placeholder="DD/MM/YYYY") }}
                        </div>
                        <div class="four columns">
                            {{ render_field(form.booking_close.time, class="u-full-width") }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-section">
                <div class="four columns">
                    <h3>Booking questions</h3>
                    <p class="subtext">Add questions for attendees to complete when registering 
                       for your course.</p>
                </div>
                <div class="eight columns">
                    <div id="questions">
                        {% for question in form.questions %}
                            {% include 'forms/fragments/question.html' %}
                        {% endfor %}
                    </div>
                    <a href="#" id="new-question" class="button">Add a question</a>
                </div>
                <div class="four columns">
                </div>
            </div>

            <div class="row">
                <div class="twelve columns">
                    <input type="submit" name="save" value="Save" class="u-pull-right button button-primary">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
