{% from "forms/_formhelpers.html" import render_field %}
{% extends "layout.html" %}

{% block content %}
<form action="{{ url_for('register', reference=booking.identifier) }}" method="POST" name="course-register">
    <div class="container content">
        <div class="row">
            <div class="twelve columns">
                <h2>Review your order</h2>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                {% set plural = '' %}
                {% set new_attendances = booking.valid_attendances()|count %}
                {% if new_attendances > 1 %}
                    {% set plural = 's' %}
                {% endif %}
                <p class="hurry-up">
                    Attendance{{ plural }} reserved until {{ moment(booking.reserved_until()).format('LT') }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="eight columns">
                <h3>{{ course.name }}</h3>
                {% for a in booking.valid_attendances() %}
                    <div class="bordered">
                        <h4>
                            <strong>{{ a.workshop.name }}</strong>
                        </h4>
                        <p class="u-cf u-full-width">
                            <span class="lighter u-pull-left">
                                {{ moment(a.workshop.start).format('dddd, D MMMM') }}
                            </span>
                            <span class="u-pull-right">
                                {{ a.workshop.display_price() }}
                            </span>
                            <span class="lighter u-cf u-pull-left">
                                {{ moment(a.workshop.start).format('LT') }} - {{ moment(a.workshop.end).format('LT') }}
                            </span>
                            <span class="u-pull-right">
                                Quantity: {{ a.quantity }}
                            </span>
                        </p>
                    </div>
                {% endfor %}
            </div>
            <div class="four columns order-summary">
                {{ form.hidden_tag() }}
                {% if not g.user.is_authenticated %}
                    <!-- <p class="lighter">Already have an account?  <a href="{{ url_for('login') }}">Sign in</a></p> -->
                    {{ render_field(form.name, autofocus="", class="u-full-width", placeholder="Joe Bloggs", required="", spellcheck="false") }}
                    {{ render_field(form.email, class="u-full-width", placeholder="joe.bloggs@example.com", required="", spellcheck="false", type="email") }}
                {% endif %}
                {% for question in form.questions %}
                    {{ render_field(question.question, class="u-full-width") }}
                {% endfor %}
                <input type="submit" value="Place your order" class="u-full-width button-primary", tabindex="3">
                <p>
                    <span class="u-pull-right">{{ booking.sub_total()|format_price }}</span>
                    <span class="">Items ({{ booking.number_of_items() }}):</span>
                </p>
                <hr>
                <p class="total price">
                    <strong>Order total:</strong>
                    <strong class="u-pull-right">{{ booking.sub_total()|format_price }}</strong>
                </p>
                {% set email = 'your email' %}
                {% if g.user.is_authenticated %}
                    {% set email = g.user.email %}
                {% endif %}
                <p class="lighter">Confirmation of your booking will be sent to {{ email }}.</p>
            </div>
        </div>
        <div class="row">
            <div class="four columns">
            </div>
        </div>
    </div>
</form>
{% endblock %}
