{% from "forms/_formhelpers.html" import render_field %}
{% extends "layout_course.html" %}

{% block page %}
<div class="container content">

    <div class="row">
        <div class="twelve columns">
            <h2>{{ course.name if course.name != None else 'Course details' }}</h2>
        </div>
    </div>
    <div class="row form-section">
        {% set status = {0: ('Cancelled', ', it cannot be booked.'),
                         1: ('In Draft', ' and is visible only to you.'),
                         2: ('Active', ' and can be shared with others.')} %}
        <div class="six columns">
            <p class="subtext">
                Course is <span class="remaining">{{ status[course.status][0] }}</span>{{ status[course.status][1] }}
                {% if course.status == 1 %}
                    | <a href="{{ url_for('change_course', course_id=course.identifier, action='publish') }}" class="button">Publish</a>
                {% endif %}
            </p>
            <p class="subtext">
                {% if course.booking_will_open() %}
                    Booking open on {{ course.booking_open|nzdt(format='%d/%m/%y at %R %p') }}.
                {% elif course.booking_is_open() -%}
                    Booking opened on {{ course.booking_open|nzdt(format='%d/%m/%y at %R %p') }}.
                    <br />
                    Booking will close on {{ course.booking_close|nzdt(format='%d/%m/%y at %R %p') }}.
                {%- elif course.booking_is_closed() -%}
                    Booking closed on {{ course.booking_close|nzdt(format='%d/%m/%y at %R %p') }}.
                {%- endif %}
            </p>
        </div>
        <div class="six columns">
            <label for="sharing-link">Sharing link</label>
            <input id="sharing-link" type="text" class="u-full-width" value="{{ url_for('show_course', course_id=course.identifier, slug=course.slug(), _external=True) }}" />
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            {% for workshop in course.workshops %}
                {% if workshop.status == 0 %}
                    <h3 class="u-pull-left">{{ workshop.name }}&nbsp;&nbsp;</h3><span class="u-pull-left remaining">Cancelled</span>
                {% else %}
                    <h3>{{ workshop.name }}</h3>
                {% endif %}
                <table class="manage u-full-width">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Booking</th>
                            <th>Name</th>
                            <th>Email</th>
                            {% for question in course.questions %}
                                <th>{{ question.name }}</th>
                            {% endfor %}
                            <th>Quantity</th>
                            <th>Paid</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for attendance in workshop.active_attendances()|sort(attribute='update_date') %}
                            <tr>
                                <td>
                                    <abbr title="{{ attendance.update_date|nzdt(format='%x %X %p %z') }}">{{ moment(attendance.update_date).format('kk:mm A') }}</abbr>
                                </td>
                                <td class="identifier">{{ attendance.booking.identifier }}</td>
                                <td>{{ attendance.user.name }}</td>
                                <td>{{ attendance.user.email }}</td>
                                {% for question in course.questions %}
                                    <td>{{ attendance.booking.get_information()[question.name] }}</td>
                                {% endfor %}
                                <td>{{ attendance.quantity }}</td>
                                <td>{{ attendance.price|format_price }}</td>
                                <td><a href="{{ url_for('attendance_cancel', a_id=attendance.id) }}" class="cancel">Cancel</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">There are currently no attendances for this class.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p class="actions u-full-width">
                    {% if workshop.status != 0 %}
                        <a href="{{ url_for('workshop_cancel', w_id=workshop.id) }}" class="cancel">Cancel {{ workshop.name }}</a>
                    {% endif %}
                </p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <p>
                {% if course.status == 2 %}
                    <a href="{{ url_for('change_course', course_id=course.identifier, action='cancel') }}" class="cancel">Cancel course</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
