{% from "forms/_formhelpers.html" import render_field %}
{% if g.user.is_authenticated and course in g.user.courses %}
    {% extends "layout_course.html" %}
{% else %}
    {% extends "layout_unauthenticated.html" %}
{% endif %}

{% set title = title ~ ' Tickets, ' ~ course.start|nzdt('%a, %b %-d, %Y %-I:%M %p') %}
{% set canonical = url_for('show_course', course_id=course.identifier, slug=course.slug(), _external=True) %}

{% block page %}
    <div class="container content">
        {% if course.image %}
            <div class="row">
                <div class="twelve columns">
                    {{ course.image|cloudinary(height=400, width=960)|safe }}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="twelve columns">
                <h1>{{ course.name }}</h1>
                {% set when = 'starts' %}
                {% if course.has_started() %}
                    {% set when = 'started' %}
                {% endif %}
                {#
                <p class="subtext lighter">
                    Course {{ when }} on {{ moment(course.sorted_workshops()[0].start).format('llll') }}
                    <br />
                    {% set next = course.next_workshop() %}
                    {% if course.has_started and next %}
                        Next class: {{ moment(next.start).format('llll') }}
                    {% endif %}
                </p>
                #}

                {% if g.user.is_authenticated and course.id in g.user.booked_courses() %}
                    <p class="messages information">
                        You're attending this course.
                    </p>
                {% endif %}
                {% if course.has_finished() %}
                    <p class="messages finished">
                        This course has finished.  You can no longer register for classes.
                    </p>
                {% endif %}
                {% if course.description -%}
                    <h3>
                        About this course: {{ course.description }}
                    </h3>
                {% endif %}
            </div>
        </div>
    </div>
    <form action="{{ url_for('show_course', course_id=course.identifier) }}" method="POST" name="show-course">
        {{ form.hidden_tag() }}
        <div class="container">
            {% for w in course.sorted_workshops() %}
                {{ form.workshops[loop.index0].workshop_id }}
                <div class="row bordered">
                    <div class="eight columns">
                        <h3>{{ w.name }}</h3>
                        <p class="lighter">
                            {% if w.description -%}
                                {{ w.description }}
                            {%- endif %}
                        </p>
                        <p class="lighter">
                            {{ moment(w.start).format('dddd, Do MMMM YYYY [from] LT') }}
                            {{ moment(w.end).format('[to] LT') }}
                        <p class="lighter">
                            {% if course.address.one_line() -%}
                                Location: {{ course.address.one_line() }}
                            {%- endif %}
                        </p>
                    </div>
                    {% if g.user.is_authenticated and w in g.user.attended_workshops() %}
                        <div class="two columns u-pull-right">
                            <p class="attending u-cf u-full-width">Attending</p>
                            <p class="cancel-class">
                                <a href="{{ url_for('attendance_cancel', a_id=g.user.get_attendance(w.id).id) }}" class="cancel">Cancel</a>
                            </p>
                        </div>
                    {% elif w.can_be_booked(polite=True) %}
                        <div class="two columns">
                            <div class="larger u-pull-right">{{ w.display_price() }}</div>
                        </div>
                        <div class="two columns">
                            {% set remaining = w.remaining() ~ ' remaining' %}
                            {{ render_field(form.workshops[loop.index0].quantity, class="u-full-width u-pull-right") }}
                            <p class="remaining u-cf u-full-width">{{ remaining }}</p>
                        </div>
                    {% else %}
                        <div class="three columns u-pull-right">
                            {%  if w.sold_out() %}
                                <p class="remaining u-cf u-full-width">SOLD OUT</p>
                            {% else %}
                                <p class="remaining u-cf u-full-width">BOOKING ENDED</p>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    {% if course.can_be_booked(polite=True) %}
                        {% if g.user.is_authenticated and g.user.attending_full_course(course) %}
                            {# If authenticated and already attending course, hide Book now button. #}
                        {% else %}
                            <br />
                            <input type="submit" value="Book now" class="u-pull-right button-primary">
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}
