{% from "forms/_formhelpers.html" import render_field %}
{% extends "layout_course.html" %}

{% block page %}
    <div class="container content">
        {% set course_id = course.identifier or None %}
        <form action="{{ url_for('course', course_id=course_id) }}" method="POST" name="create-course">
            <div class="row form-section">
                <div class="twelve columns">
                    <h2>{{ course.name if course != None else 'Create your course' }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="eight columns">
                    {{ form.hidden_tag() }}
                    {{ render_field(form.course_name,
                                    class="u-full-width",
                                    maxlength="256",
                                    placeholder="e.g. Cooking with Isabella Beeton") }}
                </div>
            </div>
            <div class="row">
                <div class="eight columns">
                    {{ render_field(form.course_location.addr_line1,
                                    class="u-full-width",
                                    maxlength="256",
                                    placeholder="Address") }}
                </div>
            </div>
            <div class="row">
                <div class="eight columns">
                    {{ render_field(form.course_location.addr_line2,
                                    class="u-full-width",
                                    maxlength="256",
                                    placeholder="Address line 2") }}
                </div>
            </div>
            <div class="row">
                <div class="eight columns">
                    {{ render_field(form.course_location.addr_city,
                                    class="u-full-width",
                                    maxlength="128",
                                    placeholder="City") }}
                </div>
            </div>
            <div class="row">
                <div class="four columns">
                    {{ render_field(form.course_location.addr_region,
                                    class="u-full-width",
                                    maxlength="128",
                                    placeholder="Region / State") }}
                </div>
                <div class="four columns">
                    {{ render_field(form.course_location.addr_postcode,
                                    class="u-full-width",
                                    maxlength="16",
                                    placeholder="Postal code") }}
                </div>
            </div>
            <div class="row">
                <div class="eight columns">
                    {{ render_field(form.course_location.addr_country,
                                    class="u-full-width",
                                    maxlength="128",
                                    placeholder="Country") }}
                </div>
            </div>
            <div class="row">
                <div class="eight columns">
                    {{ render_field(form.description, class="u-full-width",
                                    maxlength="1024", rows=2,
                                    spellcheck="true",
                                    placeholder="summarise what students will learn on the course") }}
                </div>
            </div>
            <div class="row">
                <div id="classes" class="eight columns">
                    <h3>Classes</h3>
                    {% for workshop in form.classes %}
                        {% include 'forms/fragments/class.html' %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="eight columns">
                    <a href="#" id="new-class" class="button">Add a class</a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="eight columns">
                    {% if course_id and course.status != 1 %}
                        <input type="submit" name="save" value="Save" class="u-pull-right button button-primary">
                    {% else %}
                        <!-- <input type="submit" name="save" value="Save draft" class="button u-pull-left"> -->
                        <input type="submit" name="make_live" value="Make your course live" class="u-pull-right button-primary">
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
