{% from "forms/_formhelpers.html" import render_field %}
{% extends "layout_auth.html" %}

{% block page %}
    <div class="container content">
        <div class="row form-section">
            <div class="twelve columns">
                <h2>Lost password</h2>
            </div>
        </div>
        <div class="row">
            <div class="five columns">
                <p>Enter your email address and we will send you a link to reset your password.</p>
                {% from "forms/_formhelpers.html" import render_field %}
                <form action="{{ url_for('forgot') }}" method="POST" name="forgot">
                    {{ form.hidden_tag() }}
                    {{ render_field(form.email, autofocus="True", class="u-full-width") }}
                    <input type="submit" value="Send me a password reset link" class="button-primary u-full-width">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
