{% from "forms/_formhelpers.html" import render_field %}
{% extends "layout_auth.html" %}

{% block page %}
    <div class="container content">
        <form action="{{ url_for('login') }}" method="POST" name="login">
            <div class="row form-section">
                <div class="twelve columns">
                    <h2>Sign in</h2>
                </div>
            </div>
            <div class="row">
                <div class="four columns">
                    {{ form.hidden_tag() }}
                    <input type="hidden" value="{{ next or '' }}" name=next>
                    {{ render_field(form.email, autofocus="", tabindex=1, class="u-full-width", type="email", spellcheck="false", autofocus="True", required="") }}
                    <a href="{{ url_for('forgot') }}" tabindex=5, class="u-pull-right">Forgot your password?</a>
                    {{ render_field(form.password, tabindex=2, class="u-full-width", minlength="8", maxlength="256", required="") }}
                    <input type="submit" value="Sign in" tabindex=3 class="u-full-width button-primary">
                    <p>&nbsp;</p>
                    <p>Don't have an account yet?</p>
                    <a href="{{ url_for('sign_up') }}" tabindex=4 class="u-full-width button">Create your account</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
