{% from "forms/_formhelpers.html" import render_field %}
{% extends "layout.html" %}

{% block content %}
    <div class="container content">
        <div class="row">
            <div class="twelve columns">
                <h3>Reset password</h3>
            </div>
        </div>

        <div class="row">
            <div class="six columns">
                <p>Enter your new password here.</p>
                <form action="{{ url_for('reset_password', payload=payload) }}" method="POST" name="reset_password">
                    {{ form.hidden_tag() }}
                    {{ render_field(form.newpassword, required="", minlength=8, autofocus="", class="u-full-width") }}
                    <input type="submit" value="Reset my password" class="u-pull-right button-primary">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
