<p>Hi {{ booking.get_user().name }}, this is your booking confirmation for {{ booking.get_course().name }}.</p>

<p>Booking summary:</p>
<p>You're booked for the following classes:</p>
<ul>
    {% for attendance in booking.active_attendances() %}
        <li>{{ attendance.workshop.name }}</li>
    {% endfor %}
</ul>

<p>
    Your booking reference is: {{ booking.identifier }}
</p>

<p>
    Login to <a href="{{ url_for('your_account', _external=True) }}">your account</a> to make changes to your booking.
</p>
