<p>
	Two-factor authentication is now setup on your TUA account.
</p>
<p>
	Please make sure you have downloaded your backup codes and stored them somewhere safe.&nbsp;&nbsp;If you lose your 2FA device or uninstall the authenticator application, the backup codes are the <strong>only</strong> way to regain access to your account.&nbsp;&nbsp;Go to {{ url_for('security', _external=True) }}, then click on the 'Show backup codes' link in the two-factor authentication form.
</p>
<p>
	To disable two-factor authencation, go to {{ url_for('security', _external=True) }}, then click on the 'Disable 2FA' button in the two-factor authentication form.
</p>
<p>
	<br />
	TUA
</p>
