<p>
	Your {{ config.APP_NAME }} passphrase has been changed.
</p>
<p>
	If you did not perform this action, you can regain access by entering {{ email }} into the form at <a href="{{ url_for('reset_request', _external=True) }}">{{ url_for('reset_request', _external=True) }}</a>.
</p>
