<p>
	Someone requested a passphrase reset for the account {{ email }}
</p>
<p>
	If that was you, please follow the link below:<br />
	{{ link }}<br />
	This link will expire in one hour.
</p>
<p>
	If you didn't request a passphrase reset, you can ignore this email.
</p>
