body {
    background-color: #FFF;
}

/* Index
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#tagline {margin-bottom: 10rem;}


/* Text
–––––––––––––––––––––––––––––––––––––––––––––––––– */
p {line-height: 1.54;}

h1 a, h2 a, h3 a, h4 a {
    text-decoration: none;
}

h1 p {
    margin-top: 2rem;
}

abbr {
    border-bottom: 1px dotted #E1E1E1 !important;
}

.remaining, .attending, .cancel-class {
    text-align: center;
    padding: .54rem 1rem;
}
.remaining {
    color: #555;
    background-color: #EEE;}
.attending {background-color: rgba(75,191,107,.5)}

.cancel:hover {background-color: rgba(237,34,0,.8)}
.cancel:hover {color: #FFF;}

.subtext {
    font-size: 1.6rem;
    color: #444;
    margin-bottom: .5rem;
}

.lighter {color: #555;}
.larger {font-size: 2rem;}
.centered {text-align: center;}

.actions a {margin-right: 1rem;}
.actions a.u-pull-right {
    margin-right: 0;
    margin-left: 1rem;
}
.identifier {
    font-family: monospace;
    font-size: larger;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.header {
    font-size: 1.3rem;
    box-sizing: border-box;
    background-color: #FFF;
}
.header a {color: inherit;}
.header a:visited {color: inherit;}
.header a.button-primary {color: #FFF;}

.logo{
    font-weight: bold;
    color: #1BB243 !important;
    font-size: 2.8rem;
    line-height: 6rem;
    text-decoration: none;
    letter-spacing: -.8px;
}
.logo:hover {color:inherit;}

.header-link {
    line-height: inherit;
    font-size: 1.3rem;
    padding: 1rem 1.5rem;
    margin: 1rem 0;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    color: inherit;
    line-height: 0;
    border: none;
    border-radius: 0;
}
.dropbtn:hover, .dropbtn:focus {
    color: #FFF;
    background-color: #137F30;
}
.dropbtn:hover {
    color: #FFF;
    background-color: #1BB243;
}
.collapsible:after {
    content: '⌄';
    font-size: 1.8rem;
    position: relative;
    bottom: 3px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    font-size: 1.4rem;
    background-color: #FFFFFF;
    width: 100%;
    min-width: 160px;
    border: 1px solid #CCC;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #E9E9E9}
.dropdown-content a.focus {
    color: #000;
    background-color: #DFEBF3;
}


/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
    margin: 3rem 0;
    color: #555;}
footer a {
    margin-right: 1rem;
    text-decoration: none;
    color: inherit;
}

/* Layout templates
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.block{
    padding: 80px 0;
}
.block h2 {
    text-align: center;
}

.bg-colour-navy {
    color: #FFF;
    background-color: rgba(18,32,49,1);
}

.highlight {
    margin: 2rem 0;
    padding: 4rem 0 2rem;
    color: #FFF;
    text-align: center;
}

.secondary-nav {
    background-color: #2A4C47;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    text-align: center;
}
.secondary-nav a {
    text-align: center;
    display: inline-block;
    color: rgba(255,255,255,.6);
    text-decoration: none;
    padding: 1rem 0;
    margin: 0 2rem;
}
.secondary-nav a:first-of-type {margin-left: 0;}
.secondary-nav a:hover, .secondary-nav a.focus {
    color: #FFF;
}

.content {
    margin-top: 2rem;
}

/* Inset form elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.form-section {
    padding: 2rem 0;
    margin-bottom: 2rem;
    border-bottom: 1px solid #E9E9E9;
}

/* Flashed messages
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.messages {
    background-color: rgba(254,229,96,.4);
    border: 1px solid rgba(241,194,37,.4);
    padding: 1rem;
}
.messages ul {
    list-style-type: none;
    margin-bottom: 0;
}
.messages li, .messages p {
    margin-bottom: 0;
}
.finished {
    background-color: #EEE;
    border: 1px solid #AAA;
}
.information {
    background-color: rgba(0,124,196,.1);
    border: 1px solid rgba(0,124,196,.4);
}

/* Pricing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pricing {
    font-size: 48px;
    text-align: center;
}
.features {
    height: 80px;
}

/* Show course page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bordered .required {
    display: none;
}

/* Bordered box - bookings page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bordered {
    border: 1px solid #E1E1E1;
    margin-bottom: 1.5rem;
    padding: 3rem;
}
.bordered h3 {margin-top: 0rem;}
.bordered h4:first-child {margin-top: 0rem;}
.bordered p {
    margin-bottom: 0;
}

/* Styled list elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chunky {
    list-style-type: none;
}
.chunky li{
    padding: 1.5rem 0 2rem;
    /*margin-bottom: 1.5rem;*/
    border-bottom: 1px dotted #CCC;
}


/* Order summary page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.total {font-size: 1.7rem;}
.price {color: #B12704;}

.classes {
    list-style-type: none;
}

.order-summary hr {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.hurry-up {
    text-align: center;
    padding: 1rem;
    background-color: rgba(254,229,96,.3);
    border: 1px solid rgba(241,194,37,.3);
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
label {
    display: inline-block;
}
.required {
    /*color: rgba(237,34,0,1);*/
}
#privacy {list-style-type: none;}
#privacy input {float: left;}
#privacy label {font-weight: normal;}
input[type="radio"],
input[type="checkbox"]{
    position:relative; 
    top:3px;
    margin:0 1rem 0 0;
}
input[disabled=""] {
    color: #666;
    background-color: #EEE;
}

.errors {
    list-style-type: none;
    font-size: 1.4rem;
    color: #FF0000;
}

.account_nav {list-style-type: none;}
.currency {text-align: right;}

/* Styleguide
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.swatch {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.text-colour {background-color: #222;}
.secondary-text-colour {background-color: #555;}
.page-colour {
    background-color: #FAFAFA;
    border: 1px solid #dee0e2;
}

.link-colour {background-color: #15548E;}
.link-hover-colour {background-color: #5E9FE3;}
.link-visited-colour {background-color: #655F9D;}

.border-colour {background-color: #CCC;}

.button-colour {background-color: rgba(254,229,96,1);}

.green {background-color: #1BB243;}
.light-green {background-color: #A4DFB4;}
.light-blue {background-color: #DFEBF3;}
