{% from "forms/_formhelpers.html" import render_field %}
<div class="class-box bordered">
    {{ workshop.class_id }}
    <div class="row">
        <div class="twelve columns">
            {{ render_field(workshop.class_name,
                            class="u-full-width",
                            maxlength="256",
                            placeholder="cooking with Isabella Beeton class 1") }}
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            {{ render_field(workshop.class_description, class="u-full-width",
                            maxlength="512",
                            placeholder="what the students will learn in this class",
                            rows="1") }}
        </div>
    </div>
    <div class="row">
        <div class="four columns">
            {{ render_field(workshop.class_date,
                            class="date-picker u-full-width",
                            maxlength="10",
                            placeholder="DD/MM/YYYY") }}
        </div>
        <div class="four columns">
            {{ render_field(workshop.class_start, class="u-full-width") }}
        </div>
        <div class="four columns">
            {{ render_field(workshop.class_end, class="u-full-width") }}
        </div>
    </div>
    <div class="row">
        <div class="four columns">
            {{ render_field(workshop.class_places, class="u-full-width",
                            placeholder="max no. students") }}
        </div>
<!--         <div class="four columns">
            {{ render_field(workshop.class_max_places, class="u-full-width",
                            placeholder="maximum 10", disabled="") }}
        </div> -->
        <div class="four columns">
            {{ render_field(workshop.class_price, class="currency u-full-width",
                            placeholder="15.00") }}
        </div>
    </div>
    <div class="row">
        <div class="twelve columns field-controls">
            <a id="remove-class" href="#" class="u-pull-right">Remove</a>
        </div>
    </div>
</div>
