{% from "forms/_formhelpers.html" import render_field %}
<div class="question-box">
    {{ question.question_id }}
    <div class="row">
        <div class="twelve columns">
            {{ render_field(question.question_name,
                            class="u-full-width",
                            maxlength="128",
                            placeholder="e.g. Mobile phone number") }}
            <!-- {{ render_field(question.question_required, class="u-pull-left") }} -->
            <a id="remove-question" href="#" class="u-pull-right">Remove</a>
        </div>
    </div>
</div>
