{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="three columns">
        <ul class="account_nav">
            <li><a href="{{ url_for('admin_products') }}">Create new product</a></li>
        </ul>
    </div>
    <div class="nine columns">
        {% block admin %}{% endblock %}
    </div>
</div>



{% endblock %}
