{% extends "admin/admin.html" %}

{% block admin %}

<div class="row">
    <div class="twelve columns">
        <h2>New Product</h2>
        {% from "forms/_formhelpers.html" import render_field %}
        <form action="{{ url_for('admin_products') }}" method="POST" name="new_product">
            {{ form.hidden_tag() }}
            {{ render_field(form.name, class="u-full-width", required="", spellcheck="true", autofocus="True") }}
            {{ render_field(form.description, class="u-full-width", required="") }}
            {{ render_field(form.price, required="") }}
            {{ render_field(form.status, required="") }}
            <br />
            <input type="submit" value="Create new product">
        </form>
    </div>
</div>


{% endblock %}
