{% extends "layout.html" %}
{% block title %}Something broke{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h1>Error 500</h1>
                <p>
                    There was a server error while processing your request.
                </p>
            </div>
        </div>
    </div>

    <!-- Sentry JS SDK 2.1.+ required -->
    <script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>
    {% if event_id %}
      <script>
      Raven.showReportDialog({
        eventId: '{{ event_id }}',
        dsn: '{{ public_dsn }}'
      });
      </script>
    {% endif %}
{% endblock %}
