{% extends "layout.html" %}
{% block content %}
    <div class="block container">
        <div class="row">
            <div class="twelve columns">
                <h1 id="tagline">
                    Run great courses
                    <p class="larger">We'll look after scheduling and attendee registration for you.</p>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="four columns offset-by-four">
                {% if not g.user.is_authenticated %}
                    <a href="{{ url_for('sign_up') }}" class="button button-primary">Get started for free</a>
                {% endif %}
            </div>
        </div>
    </div>
<!--     <div class="block bg-colour-navy">
        <div class="container">
            <div class="row">
                <div class="four columns">
                    <h3><strong>1. Create a course</strong></h3>
                    <p class="">Set the course title, description and location.</p>
                </div>
                <div class="four columns">
                    <h3><strong>2. Add classes</strong></h3>
                    <p class="">Set class description, spaces available, pricing and start / end times.</p>
                </div>
                <div class="four columns">
                    <h3><strong>3. Publish and share</strong></h3>
                    <p class="">We provide a simple landing page for students to book the classes they're interested in.</p>
                </div>
            </div>
        </div>
    </div> -->
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="four columns">
                    <h3><strong>For organisers</strong></h3>
                    <p>
                        Every course comes with an easy to share signup page.
                    </p>
                    <p>
                        Immediately know how many people are attending your course.
                    </p>
                </div>
                <div class="four columns">
                    <h3><strong>For educators</strong></h3>
                    <p>Use our system to match your course structure, with per-class descriptions, availability, date and time settings.</p>
                </div>
                <div class="four columns">
                    <h3><strong>For students</strong></h3>
                    <p>
                        Register for classes online and easily change or cancel attended classes.
                    </p>
                </div>
            </div>
        </div>
    </div>
<!--     <div class="block bg-colour-navy">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h2>Pricing</h2>
                </div>
            </div>
            <div class="row">
                <div class="four offset-by-two columns">
                    <h3 class="centered"><strong>Free</strong></h3>
                    <p class="centered">
                        <span class="pricing">$0.00</span>
                    </p>
                    <ul class="features">
                        <li>Unlimited courses and classes</li>
                    </ul>
                    <a href="{{ url_for('sign_up') }}" class="button button-primary u-full-width">Sign up</a>
                </div>
                <div class="four columns">
                    <h3 class="centered"><strong>Pro</strong></h3>
                    <p class="centered">
                        <span class="pricing">$9.99</span> per month
                    </p>
                    <ul class="features">
                        <li>Unlimited courses and classes</li>
                        <li>Online payments</li>
                        <li>Priority support</li>
                    </ul>
                    <a href="{{ url_for('sign_up', plan='pro') }}" class="button button-primary u-full-width">Sign up</a>
                </div>
            </div>
        </div>
    </div>
 -->
{% endblock %}
