<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% set description = 'Course registration and attendee management made easy with ' ~ config.APP_NAME ~ '.' %}
        {% if active == 'show_course' %}
            {% set description = course.description|truncate(180)|default(description) %}
        {% endif %}
        <meta description="{{ description }}" />
        {% if canonical -%}
            <link rel="canonical" href="{{ canonical }}" />
        {%- endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='normalize.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}?200217">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?300917">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
        {% if active != 'index' -%}
            <title>{{ title ~ ' | ' ~ config.APP_NAME }}</title>
        {%- else -%}
            <title>{{ title }}</title>
        {%- endif %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

        {% if config.SENTRY_ENVIRONMENT == 'production' -%}
            <!-- start Mixpanel -->
            <script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
            0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
            for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
            mixpanel.init("0364abdafc5063906fa4ae4a88cf30b8");</script>
            <!-- end Mixpanel -->

            {% if g.user.is_authenticated -%}
            <script type="text/javascript">
                mixpanel.identify("{{ g.user.email }}");
                mixpanel.people.set({
                    "$email": "{{ g.user.email }}",
                    "$first_name": "{{ g.user.name }}",
                    "$created": "{{ g.user.insert_date }}",
                    "$last_login": "{{ g.user.last_auth }}"
                });
            </script>
            {%- endif %}

            <!-- Google analytics -->
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-15220597-3', 'auto');
                ga('send', 'pageview');
            </script>
        {%- endif %}
    </head>
    <body>
        <div class="header">
            {% if distraction_free|default(false) %}
                {% set button_type = 'button' %}
            {% else %}
                {% set button_type = 'button button-primary' %}
            {% endif %}
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                        <a href="{{ url_for('index') }}" class="logo u-pull-left">{{ config.APP_NAME }}</a>
                        {% if g.user.is_authenticated %}
                            <div class="dropdown u-pull-right">
                                <button class="dropbtn header-link collapsible">{{ g.user.name }}</button>
                                <div class="dropdown-content">
                                    {% set paths = [('change_password', 'Change password'),
                                                    ('logout', 'Log out')] %}
                                    {% for path, title in paths %}
                                        {% set focus = '' %}
                                        {% if path == active %}
                                            {% set focus = 'focus' %}
                                        {% endif %}
                                        <a href="{{ url_for(path) }}" class="{{ focus }}">{{ title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <a href="{{ url_for('my_courses') }}" class="u-pull-right header-link">My Courses</a>
                            <a href="{{ url_for('course') }}" class="u-pull-right {{ button_type }} header-link">Create Course</a>
                        {% else %}
                            <a href="{{ url_for('login') }}" class="header-link u-pull-right">Log in</a>
                            <a href="{{ url_for('sign_up') }}" class="{{ button_type }} u-pull-right header-link">Sign up</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="twelve columns messages">
                            <ul>
                                {% for message in messages %}
                                    <li>{{ message | safe }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        {% block content %}{% endblock %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                        <a href="mailto:support@{{ config.APP_NAME|lower }}.com?subject=Hello">support@{{ config.APP_NAME|lower }}.com</a>
                        <a href="{{ url_for('privacy') }}">Privacy statement</a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.3.0/cloudinary-core.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.3/zepto.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
        <script type="text/javascript">$.cloudinary.responsive()</script>
        <script type="text/javascript">

            var picker = [];
            function datepicker() {
                $('.date-picker').each(function(idx) {
                    picker[idx] = new Pikaday({
                        field: $(this)[0],
                        firstDay: 1,
                        format: 'DD/MM/YYYY'
                    });
                });
            }

            $(function() {
                // Ensure there's a datepicker for every .date-picker class.
                datepicker();

                // Handle user menu dropdown.
                $('.dropbtn').click(function(event) {
                    $('.dropdown-content').toggle();
                })
                $(document).on('click', function(event) {
                    if (!event.target.matches('.dropbtn')) {
                        $('.dropdown-content').hide();
                    }
                })

            {% set newclass = newclass|default('') %}
            {% set newquestion = newquestion|default('') %}
            {% if active in ['course', 'course_details'] %}

                // ensure all class-box inputs are indexed correctly
                reindexNames('.class-box')
                reindexNames('.question-box')

                // append class-box when new class link clicked
                $("#new-class").click(function(event) {
                    appendClassBox('#classes', {{ newclass|tojson|safe }});
                    reindexNames('.class-box');
                    datepicker();
                    return false;
                })
                $("#new-question").click(function(event) {
                    appendClassBox('#questions', {{ newquestion|tojson|safe }});
                    reindexNames('.question-box');
                    return false;
                })

                // remove class box when its "remove" link is clicked
                $(document).on('click', '#remove-class', function(){
                    var $toremove = $(this).closest('.class-box');
                    $toremove.remove();
                    reindexNames('.class-box');
                    return false;
                })
                $(document).on('click', '#remove-question', function(){
                    var $toremove = $(this).closest('.question-box');
                    $toremove.remove();
                    reindexNames('.question-box');
                    return false;
                })

                // add a new class-box
                function appendClassBox(container, content) {
                    $(container).append(content);
                    // raise last and hence newest class box
                    raiseClassBox($(container).children().last())
                    return false;
                }

                // select given box, lower all others (if any)
                function raiseClassBox(box) {
                    box.find('input').get(1).focus()
                    box.addClass('selected')
                    box.siblings().removeClass('selected')
                }

                function isNormalInteger(str) {
                    var n = ~~Number(str);
                    return String(n) === str && n >= 0;
                }

                // re-index class-box names
                function reindexNames(class_name) {
                    var $oboxen = $(class_name);
                    $oboxen.each(function(index) {
                        // Get all the input fields in the class-box.
                        var $labels = $oboxen.eq(index).find('label')
                        var $inputs = $oboxen.eq(index).find(
                            'input, select, textarea')
                        // Update the index contained in the name attribute.
                        $inputs.each(function(idx) {
                            var $name = $inputs.eq(idx).attr('name').split('-');
                            // If number in name, grab from number onwards.
                            var $has_num = false
                            for (var part in $name) {
                                if (isNormalInteger($name[part])) {
                                    $has_num = true
                                    $name = $name.slice(part)
                                    $name[0] = index
                                    break
                                }
                            }
                            // Re-index.
                            if ($has_num == false) {
                                $name.unshift(index)
                            }
                            var $prefix = 'questions'
                            if (class_name == '.class-box') {
                                $prefix = 'classes'
                            }
                            $name.unshift($prefix)
                            if (idx > 0) {
                                $labels.eq(idx - 1).attr('for', $name.join('-'));
                            }
                            $inputs.eq(idx).attr('id', $name.join('-'));
                            $inputs.eq(idx).attr('name', $name.join('-'));
                        })
                    })
                }

            {% endif %}
            })
        </script>
    </body>
</html>
