{% extends "layout.html" %}

{% block content %}
    {% if course != None %}
        <div class="secondary-nav">
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                        {% set paths = [('course', 'Edit'),
                                        ('course_details', 'Settings'),
                                        ('manage_course', 'Manage'),
                                        ('show_course', 'View')] %}
                        {% set for_show_course = 'target="_blank" title="Opens in new tab"'|safe %}
                        {% for path, title in paths %}
                            <a href="{{ url_for(path, course_id=course.identifier) }}"
                               class="{{ 'focus' if path == active }}"
                               {{ for_show_course if path == 'show_course' }}>{{ title }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% block page %}{% endblock %}

{% endblock %}
