{% extends "layout.html" %}
{% block content %}

    <div class="content container">
        <div class="row form-section">
            <div class="twelve columns">
                <h1>Privacy statement</h1>
            </div>
        </div>
        <div class="row form-section">
            <div class="twelve columns">
                <p>We collect personal information from you, including information about your:
                    <ul>
                        <li>name</li>
                        <li>contact information</li>
                        <li>interactions with us</li>
                        <li>billing or purchase information</li>
                    </ul>
                </p>
                <p>We collect your personal information in order to:
                    <ul>
                        <li>provide course organisers with attendee information</li>
                        <li>collect organiser information to provide to course attendees</li>
                        <li>help us make better decisions regarding our products and services</li>
                    </ul>
                </p>
                <p>Providing some information is optional. If you choose not to provide your name and email address, we'll be unable to create an account for you, and you will be unable to book courses.</p>
                <p>You have the right to ask for a copy of any personal information we hold about you, and to ask for it to be corrected if you think it is wrong. If you’d like to ask for a copy of your information, or to have it corrected, please contact us at <a href="mailto:support@{{ config.APP_NAME|lower }}.com">support@{{ config.APP_NAME|lower }}.com</a></p>
            </div>
        </div>
    </div>

{% endblock %}
