{% extends "layout.html" %}
{% block content %}

    <div class="content container">
        <div class="row">
            <div class="two columns">
                <h3>Text</h3>
                <div class="swatch text-colour"></div>
                <p>Text colour</p>

                <div class="swatch secondary-text-colour"></div>
                <p>Secondary text colour</p>

                <div class="swatch page-colour"></div>
                <p>Page colour</p>
            </div>
            <div class="two columns">
                <h3>Links</h3>
                <div class="swatch link-colour"></div>
                <p>Link colour</p>

                <div class="swatch link-hover-colour"></div>
                <p>Link hover colour</p>

                <div class="swatch link-visited-colour"></div>
                <p>Link visited colour</p>
            </div>
            <div class="two columns">
                <h3>Backgrounds</h3>
                <div class="swatch border-colour"></div>
                <p>Border colour</p>

                <div class="swatch panel-colour"></div>
                <p>Panel colour</p>

                <div class="swatch highlight-colour"></div>
                <p>Highlight colour</p>
            </div>
            <div class="two columns">
                <h3>Buttons</h3>
                <div class="swatch button-colour"></div>
                <p>Button colour</p>

                <div class="swatch button-hover-colour"></div>
                <p>Button hover colour</p>
            </div>
            <div class="two columns">
                <h3>Focus</h3>
                <div class="swatch focus-colour"></div>
                <p>Focus colour</p>
            </div>
        </div>

        <div class="row">
            <div class="two columns">
                <h3>Green</h3>
                <div class="swatch green"></div>
                <p>Green</p>
            </div>
            <div class="two columns">
                <h3>Light green</h3>
                <div class="swatch light-green"></div>
                <p>Light green</p>
            </div>
            <div class="two columns">
                <h3>Light blue</h3>
                <div class="swatch light-blue"></div>
                <p>Light blue</p>
            </div>
        </div>
    </div>

{% endblock %}
